# Analyze enrollment data by year

In [4]:
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt

os.chdir(r"C:\Users\dougj\Documents\Data\Education")

In [5]:
df= pd.read_csv("BL2013_MF_v2.2.csv")

In [17]:
# calculate average years of schooling for all India in 1950
india_1950 = df[(df.year == 1950) & (df.country == "India")]
india_1950 = india_1950[['agefrom', 'ageto', 'yr_sch', 'pop']]
india_1950

       agefrom  ageto  yr_sch       pop
12870       15     19    1.15   36848.0
12871       20     24    1.16   32430.0
12872       25     29    1.07   27990.0
12873       30     34    1.07   24208.0
12874       35     39    0.95   21007.0
12875       40     44    0.95   17969.0
12876       45     49    0.95   14987.0
12877       50     54    0.77   12560.0
12878       55     59    0.74   10308.0
12879       60     64    0.60    8127.0
12880       65     69    0.59    5339.0
12881       70     74    0.58    3776.0
12882       75    999    0.58    2856.0
12883       25    999    0.92  149127.0
12884       15    999    0.99  218405.0

In [27]:
# create weighted average of years of school
np.average(india_1950.yr_sch, weights = india_1950['pop'])

0.972289495287036