In [3]:
import numpy as np
import pandas as pd
import geopandas as gpd
import os

In [4]:
os.chdir(r"C:\Users\dougj\Documents\GIS\india village shapefiles")
df = gpd.read_file("pc11-towns-villages.shp")

In [5]:
df.columns

Index(['PolygonType', 'pc11_s_id', 'pc11_d_id', 'pc11_sd_id', 'pc11_v_id',
       'point_lat', 'point_lon', 'LargePoly', 'geometry'],
      dtype='object')

In [7]:
df.head()

,PolygonType,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_v_id,point_lat,point_lon,LargePoly,geometry
0,thiessen,35,638,05916,645012,9.239276,92.779396,0.0,"POLYGON ((92.78708792 9.244797139999999, 92.78..."
1,thiessen,35,638,05916,645024,9.214246,92.814735,0.0,"POLYGON ((92.81900374999999 9.211967680000001,..."
2,thiessen,35,638,05916,645022,9.207431,92.817322,0.0,"POLYGON ((92.82146557999999 9.20451373, 92.816..."
3,thiessen,35,638,05916,645020,9.199804,92.819595,0.0,"POLYGON ((92.82560728 9.18926094, 92.815312000..."
4,thiessen,35,638,05916,645021,9.200398,92.813202,0.0,"POLYGON ((92.816676 9.203086000000001, 92.8153..."