In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
os.chdir(r"C:\Users\dougj\Documents\Satellite sampling ground truth sample")

In [3]:
segs = gpd.read_file(r"Final sample\Final selected segments\final_segments.shp")

In [4]:
segs

,unique_id,num_segmen,population,state,new_pop,num_subbox,subbox,selected,replace_w_,to_drop,geometry
0,3627,1,2396,bihar,599.000,4,4,1,0,None,"POLYGON ((84.4009021 26.9913223, 84.400919 26...."
1,13717,1,7200,bihar,1800.000,4,1,1,0,None,"POLYGON ((85.7177856 26.4879299, 85.7190408 26..."
2,28753,1,336,bihar,336.000,1,1,1,0,None,"POLYGON ((84.9529081 26.193923, 84.95516000000..."
3,29874,1,10607,bihar,1178.556,9,1,1,0,None,"POLYGON ((87.035994 26.171725, 87.038726800000..."
4,34552,1,811,bihar,811.000,1,1,1,0,None,"POLYGON ((86.1236287 26.0829142, 86.1235000000..."
5,36749,1,19764,bihar,1235.250,16,7,1,1,None,"POLYGON ((84.87806634873056 26.03146136663966,..."
6,45057,1,1728,bihar,1728.000,1,1,1,0,None,"POLYGON ((85.7996796 25.8449693, 85.8002374999..."
7,61412,1,5052,bihar,1263.000,4,2,1,1,None,"POLYGON ((84.93849110338211 25.50651476949889,..."
8,66294,1,483,bihar,483.000,1,1,1,0,None,"POLYGON ((86.44326 25.4168061, 86.443319 25.41..."
9,125031,1,8063,UP,2015.750,4,2,1,0,None,"POLYGON ((78.912142 29.1070861, 78.9121152 29...."
10,222630,1,32934,UP,1317.360,25,2,1,0,None,"POLYGON ((78.00465920000001 27.2014267, 78.004..."
11,223048,1,6511,UP,1627.750,4,3,1,1,None,"POLYGON ((81.99269965016657 27.19811242352188,..."
12,266441,1,11628,UP,1292.000,9,6,1,0,None,"POLYGON ((82.7997718 26.6228957, 82.8007104999..."
13,266844,1,158,UP,158.000,1,1,1,1,None,"POLYGON ((81.23010150321004 26.61457353109273,..."
14,294908,1,505,UP,505.000,1,1,1,1,None,"POLYGON ((83.11367725416277 26.17275122682494,..."
15,303914,1,10237,UP,1137.444,9,5,1,1,None,"POLYGON ((81.41901470537049 26.02547712540234,..."
16,319091,1,2728,UP,682.000,4,3,1,1,None,"POLYGON ((83.34287341854861 25.79761908169191,..."
17,341252,1,2709,UP,677.250,4,4,1,0,None,"POLYGON ((82.8719897 25.4552913, 82.8733442000..."
18,388253,1,798,rajasthan,798.000,1,1,1,0,None,"POLYGON ((73.6583237 29.3578133, 73.6588225999..."
19,429135,1,8483,rajasthan,2120.750,4,1,1,0,None,"POLYGON ((75.39982310000001 28.1229443, 75.400..."
20,503761,1,21772,rajasthan,1360.750,16,8,1,0,None,"POLYGON ((75.7588665 26.9364769, 75.7594459 26..."
21,517551,1,56,rajasthan,56.000,1,1,1,1,None,"POLYGON ((73.92757729727879 26.76183179327559,..."
22,540678,1,1560,rajasthan,1560.000,1,1,1,0,None,"POLYGON ((75.2030584 26.4629652, 75.2040937 26..."
23,591993,1,1107,rajasthan,1107.000,1,1,1,0,None,"POLYGON ((70.70996839999999 25.7779668, 70.718..."
24,635963,1,14320,rajasthan,1591.111,9,5,1,0,None,"POLYGON ((75.86438889999999 25.1738667, 75.865..."
25,714946,1,12793,MP,1421.444,9,5,1,1,None,"POLYGON ((78.1369487596956 26.20423218276173, ..."
26,925129,1,614,MP,614.000,1,1,1,0,None,"POLYGON ((79.20447799999999 22.6575278, 79.206..."
27,928597,1,12863,MP,1429.222,9,8,1,0,None,"POLYGON ((77.76741939999999 22.6120577, 77.767..."
28,929557,1,722,MP,722.000,1,1,1,0,None,"POLYGON ((80.1301122 22.6044693, 80.1300264000..."
29,969951,1,759,MP,759.000,1,1,1,0,None,"POLYGON ((78.0604982 22.093158, 78.06124389999..."
...,...,...,...,...,...,...,...,...,...,...,...
40,13717,2,7200,bihar,1800.000,4,1,1,0,None,"POLYGON ((85.7177748 26.4865927, 85.7187404 26..."
41,28753,2,336,bihar,336.000,1,1,1,0,None,"POLYGON ((84.949389 26.1939038, 84.9529081 26...."
42,29874,2,10607,bihar,1178.556,9,1,1,0,None,"POLYGON ((87.035994 26.171725, 87.0367902 26.1..."
43,34552,2,811,bihar,811.000,1,1,1,0,None,"POLYGON ((86.1220194 26.0855641, 86.1225129 26..."
44,45057,2,1728,bihar,1728.000,1,1,1,0,None,"POLYGON ((85.79706710000001 25.852279, 85.8004..."
45,66294,2,483,bihar,483.000,1,1,1,0,None,"POLYGON ((86.44702719999999 25.4179269, 86.447..."
46,125031,2,8063,UP,2015.750,4,2,1,0,None,"POLYGON ((78.913124 29.1054079, 78.9130972 29...."
47,222630,2,32934,UP,1317.360,25,2,1,0,None,"POLYGON ((78.0030525 27.2011118, 78.0039028000..."
48,266441,2,11628,UP,1292.000,9,6,1,0,None,"POLYGON ((82.80073470000001 26.6228981, 82.802..."
49,341252,2,2709,UP,677.250,4,4,1,0,None,"POLYGON ((82.8719923 25.4558168, 82.8738645 25..."
50,388253,2,798,rajasthan,798.000,1,1,1,0,None,"POLYGON ((73.66013150000001 29.3596148, 73.660..."
51,429135,2,8483,rajasthan,2120.750,4,1,1,0,None,"POLYGON ((75.40195009999999 28.1248172, 75.403..."
52,503761,2,21772,rajasthan,1360.750,16,8,1,0,None,"POLYGON ((75.7583891 26.9355717, 75.7587888 26..."
53,540678,2,1560,rajasthan,1560.000,1,1,1,0,None,"POLYGON ((75.20486080000001 26.4642996, 75.205..."
54,591993,2,1107,rajasthan,1107.000,1,1,1,0,None,"POLYGON ((70.7130583 25.7724067, 70.7159229 25..."
55,635963,2,14320,rajasthan,1591.111,9,5,1,0,None,"POLYGON ((75.86501389999999 25.1750914, 75.864..."
56,925129,2,614,MP,614.000,1,1,1,0,None,"POLYGON ((79.2036143 22.6565798, 79.204081 22...."
57,928597,2,12863,MP,1429.222,9,8,1,0,None,"POLYGON ((77.7649706 22.6130969, 77.7655821 22..."
58,929557,2,722,MP,722.000,1,1,1,0,None,"POLYGON ((80.12345500000001 22.6074555, 80.131..."
59,969951,2,759,MP,759.000,1,1,1,0,None,"POLYGON ((78.0604768 22.0931904, 78.0593662999..."
60,988759,2,78,MP,78.000,1,1,1,0,None,"POLYGON ((76.00613199999999 21.8436345, 76.012..."
61,995762,2,675,MP,675.000,1,1,1,0,None,"POLYGON ((78.1564924 21.7526607, 78.1606551999..."
62,1181857,2,16329,jharkhand,1020.563,16,8,1,0,None,"POLYGON ((87.807852 24.9317555, 87.809912 24.9..."
63,1201702,2,2601,jharkhand,650.250,4,2,1,0,None,"POLYGON ((83.4611361 24.2638747, 83.461061 24...."
64,1208752,2,159,jharkhand,159.000,1,1,1,0,None,"POLYGON ((83.62279220000001 24.1324773, 83.622..."
65,1219581,2,72,jharkhand,72.000,1,1,1,0,None,"POLYGON ((85.0386372 23.9284078, 85.0409546000..."
66,1230514,2,378,jharkhand,378.000,1,1,1,0,None,"POLYGON ((85.4855893 23.6658916, 85.4869894 23..."
67,1239211,2,14892,jharkhand,1654.667,9,4,1,0,None,"POLYGON ((85.31803739999999 23.3581088, 85.318..."
68,1243236,2,150,jharkhand,150.000,1,1,1,0,None,"POLYGON ((84.0892204 23.1759129, 84.0937157 23..."
69,1254718,2,1055,jharkhand,1055.000,1,1,1,0,None,"POLYGON ((85.62162189999999 22.7508442, 85.624..."